"""
Описание возможных значений:
False - нет, True - да
'' - строка, само содержимое пишется между кавычками
"""

# Данные авторизации приложения
GROUP_ID = 209853496  # ID сообщества, через которое бот будет авторизовываться
# Токен сообщества для авторизации
ACCESS_TOKEN_GROUP = "bffba75...0cd7"
# Токен пользователя имеющего права на передачу и чтение фоток ВК
ACCESS_TOKEN_USER = "958eb5d...2008"

# Файлы параметров
LEXICON_FILE_NAME = "cfg/lexicon.json"  # лексикон чат-бота
ANSWER_FILE_NAME = "cfg/answers.json"  # ответы для команд чат-бота
VK_GUDIE_FILE_NAME = "cfg/vk_guide.json"  # справочник ВК

# Данные для базы данных PostgreSQL или MySQL
# DATABASE_SETTINGS = ("DATABASE NAME", "HOST", PORT, "USER", "PASSWORD")
DATABASE_SETTINGS = ()
DATABASE_DRIVER = "postgresql"  # Может принимать значения: mysql, postgresql
DATABASE_CHARSET = 'utf8mb4'  # utf8mb4, latin1 и т.д.

# Териманльное логирование
LOG_MESSAGES = True  # нужно ли писать получаемые сообщения в лог
LOG_COMMANDS = True  # нужно ли писать выполняемые команды в лог

# Настройки поиска и вывода данных ВК
COUNT_RECORDS = 5  # количество найденных контактов, передаваемых за один раз пользователю

# Черный список пользователей
BLACKLIST = ()
BLACKLIST_MESSAGE = "Вы не можете писать боту! Вы находитесь в чёрном списке!"

# Белый список пользователей (если не пуст - только пользователи в этом списке
# могут писать боту и получать от него ответы, иначе - боту могу писать все)
WHITELIST = ()
WHITELIST_MESSAGE = "Вы не можете писать боту! Для этого надо быть в белом списке!"

# Список администраторов
ADMINS = ()
